/*---------------------------------------------------------------------------------------------------------------------
INCREASE INCOME SECTION
----------------------------------------------------------------------------------------------------------------------*/
.section-increase-income {
	margin-bottom: rem(150);

	@include xl {
		margin-bottom: rem(120);
	}
	@include md {
		margin-bottom: rem(100);
	}
	.section-title {		
		font-size: rem(36);
		line-height: 100%;
		color: var(--white);
		font-weight: 700;

		margin-bottom: rem(30);

		width: 77%;

		.color-accent{
			font-weight: 700;
		}

		@include lg {
			width: 100%;
			font-size: rem(28);
		}

		@include md {			
			font-size: rem(24);
		}
		@media (max-width: 440px) {		
			font-size: rem(16);
			font-weight: 500;
			margin-bottom: rem(20);
		}
	}
}

.increase {
	position: relative;
	display: flex;
	justify-content: flex-end;

	&-bird {
		position: absolute;
		bottom: rem(-40);
		left: 0;
		aspect-ratio: 388/609;

		transform: translateX(-10%);
		width: 32%;

		@media (max-width: 675px) {
			left: inherit;
			bottom: rem(90);
			right: 3%;
		}
	}

	&-tile {
		position: relative;
		width: 85%;
		border-radius: rem(36);
		background-color: var(--blue);

		padding: rem(100) rem(35) rem(40) rem(100);

		aspect-ratio: 100/55;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@media (max-width: 830px) {
			padding-left: rem(80);
		}

		@include md {
			padding-left: rem(60);
		}
		@media (max-width: 675px) {
			padding-left: rem(40);
			width: 100%;
		}
		@include sm{
			padding-top: rem(60);
		}
		@media (max-width: 440px) {
			padding: rem(40) rem(20) rem(20);
		}

		&:after {
			content: "";
			position: absolute;
			right: rem(10);
			top: rem(10);
			display: block;
			aspect-ratio: 1/1;
			width: rem(58);
			background-image: url("../../images/webp/block-1/bublik.webp");
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-position: center center;
		}
		&_header {
			position: relative;
			z-index: 1;
			p {
				font-family: var(--font-title);
				font-size: rem(29);
				line-height: 125%;
				color: var(--white);
				font-weight: 300;

				@include lg {
					font-size: rem(21);
				}
				@media (max-width: 440px) {
					font-size: rem(15);
				}
			}
			.color-accent,
			.color-blue {
				font-weight: 300;
			}
			@media (max-width: 675px) {
				width: 75%;
			}
		}

		&_footer {
			display: grid;
			grid-template-columns: 1fr 388px;
			gap: rem(40);
			align-items: center;

			margin-top: rem(40);

			@include lg {
				grid-template-columns: 1fr 278px;
			}
			@media (max-width: 830px) {
				gap: rem(20);
			}
			@include md {
				grid-template-columns: 1fr 238px;
			}
			@media (max-width: 540px) {
				grid-template-columns: 1fr;
				grid-template-rows: 1fr;
			}
		}

		&_arrows {
			width: 100%;
			@media (max-width: 540px) {
				display: none;
			}
		}

		&_btn {
			--btn-radius: 40px;
			position: relative;

			height: rem(81);
			border-radius: var(--btn-radius);
			filter: drop-shadow(10.893px 16.773px 12px rgba(0, 94, 168, 0.51));
			background-color: #ff9548;

			display: flex;
			align-items: center;
			justify-content: center;

			padding-inline: rem(20);
			
			font-size: rem(26);
			color: var(--white);
			font-weight: 700;
			text-transform: uppercase;

			box-shadow: 5px 5px 12px 12px rgb(0, 94, 168, 0.9);
			// transition: all 0.3s ease-in-out;

			@include lg {
				height: rem(61);
				font-size: rem(18);
			}
			@include md {
				height: rem(55);
				font-size: rem(15);
			}

			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				border-radius: var(--btn-radius);
				background: linear-gradient(155deg, rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0) 57%, rgba(255, 255, 255, 0) 100%);
			}

			&:hover {
				box-shadow: 10px 5px px 12px rgb(0, 94, 168, 0.2);
				&:before {
					background: transparent;
				}
			}
		}
	}
}
